{% block title %}Preguntale a ChatGPT{% endblock %}

{% block content %}
    <h2>Bienvenido a mi Home Page</h2>
    <p>Es una app construida con Flask</p>
    <form action="{{ url_for('submit') }}" method="post">
        <label for="question">Hazle una pregunta a ChatGPT-4o : </label>
        <input type="text" id="question" name="question" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
